<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password reset</title>
  </head>
  <body>
    <div>
      <p>Hi {{name}},</p>
      <p>
        We received a request to reset your Shadow account password. If you didn't make the request, you can ignore this email. Otherwise, click the button below to change your
        password.
      </p>
      <div>
        <a href='https://accounts.{{domain}}/auth/reset-password?code={{code}}'>Reset Password</a>
      </div>
      <p>
        If clicking the button above doesn't work, try copying the link below and pasting it into your browser.
      </p>
      <a href='https://accounts.{{domain}}/auth/reset-password?code={{code}}'>https://accounts.{{domain}}/auth/reset-password?code={{code}}</a>
      <div>
        <strong>Link doesn't work?</strong>
        <p>To keep your account secure, your reset password link only works for up to 24 hours. If you need another link, you can request another reset link at
          <a href='https://accounts.{{domain}}/auth/forgot-password'>
            https://accounts.{{domain}}/auth/forgot-password
          </a>
        </p>
      </div>
      <p>Kind Regards,</p>
      <p>Shadow Apps</p>
    </div>
  </body>
</html>