<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Shadow Archive - GraphiQL</title>
    <style>
      body {
        height: 100%;
        margin: 0; 
        width: 100%; 
        overflow: hidden; 
      } 
      
      #graphiql { 
        height: 100vh;  
      }
    </style>
    <link rel='stylesheet' href='https://unpkg.com/graphiql/graphiql.min.css' />
  </head>
  <body>
    <div id='graphiql'>Loading...</div>
    <script src='https://unpkg.com/react@17/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@17/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/graphiql/graphiql.min.js'></script>
    <script>
      {{#if csrfToken}}
        const fetcher = GraphiQL.createFetcher({ url: '{{url}}', headers: { 'x-csrf-token': '{{csrfToken}}' } });
      {{else}}
        const fetcher = GraphiQL.createFetcher({ url: '{{url}}' });
      {{/if}}
      const namespace = 'graphiql:{{appName}}'
      const storage = {
        getItem: (key) => localStorage.getItem(`${namespace}:${key}`),
        setItem: (key, value) => localStorage.setItem(`${namespace}:${key}`, value),
        removeItem: (key) => localStorage.removeItem(`${namespace}:${key}`),
        clear() {
           for (const key in window.localStorage) {
            if (key.startsWith(namespace)) {
              window.localStorage.removeItem(key);
            }
          }
        },
        get length() {
          let keys = 0;
          for (const key in window.localStorage) {
            if (key.startsWith(namespace)) {
              keys += 1;
            }
          }
          return keys;
        }
      }
      
      const element = React.createElement(GraphiQL, { fetcher, storage }); 
      ReactDOM.render(element, document.getElementById('graphiql'));
    </script>
  </body>

</html>